@import "https://fonts.googleapis.com/css?family=Public+Sans:0,500&display=swap";
.ButtonOutlineStandard {
  background: white;
  border-radius: 16px;
  display: flex;
  height: 40px;
  padding: 0 22px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 1px solid #E0E5EB;
}

.ButtonOutlineStandard:hover {
  background: #f5f5f5;
}

.ButtonOutlineStandard:disabled {
  background: #f5f5f5;
  cursor: not-allowed;
  color: #aaa;
}

.ButtonText {
  color: #2D3D54;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}