@import "https://fonts.googleapis.com/css?family=Public+Sans:0,500&display=swap";
.ButtonFilledStandard_344_1444 {
  background: #0082e1;
  border-radius: 16px;
  display: flex;
  height: 40px;
  padding: 0 22px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
}

.ButtonFilledStandard_344_1444:hover {
  background: #0070c9;
}

.ButtonFilledStandard_344_1444:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.CheckOut_344_1445 {
  color: #ffffff;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}